<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title modalTitle">Add a Picture</h4>
      </div>
      <div class="modal-body">
        <form id="updateProfile" action="/addPic" method="post">
          <p className="modalLabel">Image Link</p>
          <div class="form-group">
            <input type="text" class="form-control" name="imgLink" required>
          </div>
          <p className="modalLabel">Image Description</p>
          <div class="form-group">
            <input type="text" class="form-control" name="imgDescription" required>
          </div>
          <button type="submit" class="btn btn-primary"><span>Submit</span></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>