<div class="container-fluid nav-container">
  <h4>Andrew's Pinterest Replica</h4>
    <% if (login) { %>
  <nav>
    <a class="menu" href="/">Home</a>
    <p>|</p>
    <a class="menu" href="/allUsers">All Users</a>
    <p>|</p>
    <a class="menu" href="/myPics">My Pictures</a>
    <p>|</p>
    <a class="menu" href="#myModal" data-toggle="modal">New Picture</a>
    <p>|</p>
    <a class="menu" href="/logout">Logout</a>
  </nav>
    <% } else { %>
  <nav>
    <a class="menu" href="/">Home</a>
    <p>|</p>
    <a class="menu" href="/allUsers">All Users</a>
    <p>|</p>
    <div class="dropdown">
      <a class="menu dropdown-toggle" data-toggle="dropdown">Login
        <span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="/auth/facebook" class="btn btn-primary btn-facebook"><span class="fa fa-facebook"></span> Facebook</a></li>
        <li><a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a></li>
        <li><a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a></li>
      </ul>
    </div>
  </nav>
    <% } %>
  <h5><a href="https://github.com/ajGingrich/Pinterest-Replica" target="_blank">github repo</a></h5>
  <h5><a href="https://www.freecodecamp.com/challenges/build-a-pinterest-clone" target="_blank">freeCodeCamp description</a></h5>
</div>