.bm-menu-wrap {
  z-index: 50 !important;
}

.bm-menu {
  background: url(../img/nav_background.jpg);
}

.navFaContainer {
  position: fixed;
  padding: 0 2em 0 2em;
  margin-left: -1em;
  background: url(../img/nav_background.jpg);
  top: 0px;
  z-index: 51;
}

.spacer {
  height: 5em;
}

.navFaContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 3em 1em 0 1em;

  li {
    display: inline;
  }

  a {
    color: white;
  }
}

.mobileDivider {
  border: none;
  height: 3px;
  background-color: white;
}

@media (min-width: 769px) {
  .bm-burger-button {
    top: 10px !important;
  }
}
