.bm-menu-wrap {
  z-index: 50 !important;
}

.bm-menu {
  background: url(../img/nav_background.jpg);
}

.navFaContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100%;
  padding: 0.5em 1em 0 1em;

  li {
    display: inline;
  }

  a {
    color: white;
  }
}

@media (min-width: 769px) {
  .bm-burger-button {
    top: 10px !important;
  }
}
