.navigation {
  /*margin-bottom: 0;*/
  position: sticky;
  top: 0;
  z-index: 10000;
  text-transform: uppercase;
  background: url(../img/nav_background.jpg);
  color: white;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navigation .container {
  background: transparent;
}

.navigation .container ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

.navigation a {
  color: white;
}

.navigation li {
  list-style-type: none;
  display: inline;
}

.navInitials {
  font-weight: 700;
}

.navigation li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navigation li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
}
.navigation li a:focus {
  outline: none;
}
.navigation li.active a {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 20;
}

@media (max-width: 768px) {
  .navInitials {
    float: left;
    padding: 10px 0 0 5px;
  }
}

@media (min-width: 769px) {
  .navigation {
    padding: 5px 0;
    letter-spacing: 1px;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navigation li {
    padding: 10px 35px 0 0;
    /*font-weight: 200;*/
  }

  .navigation li i {
    padding-right: 5px;
  }

  .navigation li:last-of-type {
    padding-right: 0;
  }

  .navInitials {
    margin-right: auto;
  }

}
