.navigation {
  position: sticky;
  top: 0;
  z-index: 2;
  text-transform: uppercase;
  background: url(../img/nav_background.jpg);
  color: white;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navigation .container {
  background: transparent;
}

.navigation .container ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

.navigation a,
.searchForm form span {
  color: white;
}

.navigation li,
.searchForm form span {
  list-style-type: none;
  display: inline;
}

.navInitials {
  font-weight: 700;
}

.navigation li a,
.searchForm form span {
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navigation li a:hover,
.searchForm form span:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
}

.navigation li a:focus,
.searchForm form span:focus {
  outline: none;
}

.searchForm form label input {
  border-radius: 1px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navInitials {
    float: left;
    padding-top: 10px;
  }
}

@media (min-width: 769px) {
  .navigation {
    letter-spacing: 1px;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navigation li {
    padding: 15px 35px 0 0;
  }

  .navigation li i {
    padding-right: 5px;
  }

  .navigation li:last-of-type {
    padding-right: 0;
  }

  .navInitials {
    margin-right: auto;
  }

  .searchForm {
    color: black;
  }
}
