.post {
  margin: 20px 0 0 0;
  background: white;
  z-index: 10;
  border-radius: 5px;
  color: black;
}

.postContainer {
  padding: 5px 0 10px 0;
  width: 95%;
  margin: auto;
}

.markdown {
  background: pink;
  border-radius: 5px;
}

.markdownContainer {
  padding: 5px 0 10px 0;
  width: 95%;
  margin: auto;
}

.code {
  background: blue;
}

@media (min-width: 992px) {
  .post {
    color: black;
  }
}
