.post {
  margin: 20px 0 0 0;
  background: white;
  z-index: 10;
  border-radius: 10px;
  color: black;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
}

.postContainer {
  padding: 5px 0 10px 0;
  width: 95%;
  min-height: 86vh;
  margin: auto;

  h1, h2, h3, h4, h5 {
    font-weight: 600;
  }

  ul, ol {
    margin-bottom: 1.25em;

    li {
      margin-bottom: 0.25em;
    }
  }

  p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1.25em;
    line-height: 1.58;
    margin-bottom: 1.25em;
    font-weight: 400;
    letter-spacing: -.003em;
  }

  /* Responsive default image width */
  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    background-color: #2b2b2b;
    border-radius: 10px;
  }

  .mainTitle {
    color: rgb(68, 68, 68);
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
  }

  .postHeaderDivider {
    margin-top: -10px;
    background-color: #979797;
    border: 0 none;
    color: #979797;
    height: 1px;
  }

  .completePostTitle {
    color: rgb(51, 122, 183);
  }

  /* Responsive floating */
  @media only screen and (min-width: 720px)  {
    .butter-float-left {
      float: left;
      margin: 0px 10px 10px 0px;
    }

    .butter-float-right {
      float: right;
      margin: 0px 0px 10px 10px;
    }
  }

  /* Image caption */
  figcaption {
    font-style: italic;
    text-align: center;
    color: #ccc;
  }

  .pagination {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 auto;

    .nextLink {
      margin-left: auto;
    }
  }
}
