$largeMax: 767px;

.sidebar {
  background: white;
  margin: 20px 0 0;
  border-radius: 10px;
  display: block;
  color: black;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);

  h4,
  h5 {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }

  .sidebarCenterWrapper {
    display: flex;
    justify-content: center;
    text-decoration: underline;

    label input {
      padding: 0 0.3em 0 0.35em;
      border-radius: 5px;
      font-weight: lighter;
    }
  }

  .subsciptionText {
    text-align: center;
    padding: 0 0.5em 0.5em 0.5em;
  }

  .subscriptionWrapper {
    vertical-align: bottom;
  }

  .subscriptionButton {
    text-decoration: none;
    margin: 0.25em 0 0.5em 0;
  }

  h4 {
    padding: 1em 0 0 0;
    font-weight: 500;
  }

  h5 {
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.003em;
  }
  /********* Accordion ********/
  .block {
    padding: 1.25rem;
  }

  .u-margin-top {
    margin-top: 1.875rem;
  }

  .u-margin-right {
    margin-right: 1.875rem;
  }

  .u-margin-bottom-s {
    margin-bottom: 0.5rem;
  }

  .u-position-absolute {
    position: absolute;
  }

  .u-position-relative {
    position: relative;
  }

  .accordion {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
  }

  .accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  .accordion__item--has-icon {
    position: relative;
  }

  .accordion__title {
    color: #444;
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
    text-align: left;
    border: none;
  }

  [aria-expanded="true"] {
    background-color: #ddd;
  }

  .accordion__title:hover {
    background-color: #f4f4f4;
  }

  .accordion__body {
    padding: 0.5em;
  }

  .accordion__body > *:last-child,
  .accordion__title > *:last-child {
    margin-bottom: 0;
  }

  .accordion__arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
  }

  .accordion__arrow::after,
  .accordion__arrow::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
  }

  .accordion__arrow::before {
    left: 4px;
    transform: rotate(45deg);
  }

  [aria-expanded="true"] .accordion__arrow::before {
    transform: rotate(-45deg);
  }

  .accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
  }

  [aria-expanded="true"] .accordion__arrow::after {
    transform: rotate(45deg);
  }

  .accordion__arrow::after,
  .accordion__arrow::before {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  }
}

@media (max-width: 992px) {
  .sidebar {
    width: 120%;
    margin-left: -10%;
    min-height: 82vh;
    margin-bottom: 20px;
    z-index: 47;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}

@media (min-width: 993px) {
  .sidebar {
    height: 85vh;
    overflow-y: auto;
    position: fixed;
  }
}
