/******* set general background color before importing *******/
.container {
  background: url(../img/blue_background.jpg);
  background-size: cover;
  z-index: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

@import "navigation";
@import "burger-menu";
@import "post";
@import "tags";
@import "search";
@import "sidebar";
@import "tooltip";
@import "footer";

body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f4f7fc;
  overflow-y: hidden;
}

.fixedWrapper {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: fixed;
}

@media(max-width: 992px) {
  .mainWrapper {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    padding-bottom: 5em;
  }
}
