<!DOCTYPE html>
<html>
  <body>

    <!-- warning message -->
    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><p><%= message %></p></div>
    <% } %>
  <div> Hello World </div>
  </body>

</html>
