.footer {
  margin: 20px 0 15px 0;

  .container {
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  a {
    z-index: 500
  }

  .butterSpan {
    margin-left: 5px;
  }

  .butterImg {
    margin-left: 5px;
    height: 15px;
  }
}
